{% extends "layout.njk"%}

{% block head %}
  <title>Foodfy -Admin Recipe Detail</title>
{% endblock %}

{% block content %}

  <main>
    <div class="header-detail-recipe">
      <h1>Receita:
        {{recipe.foodPlate}}</h1>
      <a class="button" href="/admin/recipes/{{recipe.id}}/edit">Editar Receita</a>
    </div>
    <div class="detail-img-container">
      <img src="{{recipe.image_url}}" alt="plate food image">
    </div>
    <div class="details-contents-container">
      <h1>{{recipe.foodPlate}}</h1>
      <h2>{{recipe.chef}}</h2>

      <h3>Ingredientes</h3>
      {% for ingredient in recipe.ingredients %}
        <p>-
          {{ingredient}}</p>
      {% endfor %}

      <h3>Modo de Preparo</h3>
      {% for prepareStep in recipe.prepareMode %}
        <p>-
          {{prepareStep}}</p>
      {% endfor %}

      <h3>informações adicionais</h3>
      <p >{{recipe.aditionalInfo}}</p>

    </div>

  </main>

{% endblock %}