{% extends "admin/adminLayout.njk" %}

{% block content %}
  <main>
    <form class="create-edit-form" method="POST" action="/admin/recipes">
      <section class="details-create-edit">
        {% include 'admin/recipes/fields.njk'%}
      </section>
    </form>
  </main>

{% endblock content %}