<div class="header">
  <h1>
    {% if recipe %}
      Editando
    {% else %}
      Criando
    {% endif %}
    receita
  </h1>
  <div class="action-buttons">
    {% if recipe %}
      <a class="delete-button">Deletar</a>
      <input id="delete-id" type="hidden" name="id" value="{{recipe.id}}">
    {% endif %}
    <button type="submit">Salvar</button>
  </div>
</div>

<div class="item">
  <div>Nome do receita</div>
  <div>
    <input type="text" name="title" value="{{recipe.title}}">
  </div>
</div>

<div class="item">
  <div>Imagem da receita</div>
  <div>
    <input type="url" name="image_url" placeholder="http://" value="{{recipe.image_url}}">
  </div>
</div>

<div class="item">
  <div>Chef</div>
  <div>
    <select name="chef_id">
      {% for chef in chefOptions %}
        <option value="{{chef.id}}" {% if recipe.chef_id == chef.id %} selected="selected" {% endif %}>
          {{chef.name}}
        </option>
      {% endfor %}

    </select>
  </div>
</div>

<div class="item" id="ingredients">
  <div>Ingrediente</div>
  <div class="array-item ingredient">
    {% if recipe.ingredients.length > 0 %}
      {% for ingredient in recipe.ingredients%}
        <input type="text" name="ingredients[]" value="{{ingredient}}" placeholder="Ingrediente"/>
      {% endfor %}
    {% else %}
      <input type="text" name="ingredients[]" placeholder="Ingrediente"/>
    {% endif %}
  </div>
  <button type="button" class="add-ingredient add-button">Adicionar novo ingrediente</button>
</div>

<div class="item" id="prepareMode">
  <div>Modo de preparo</div>
  <div class="array-item prepareMode">
    {% if recipe.preparation.length > 0 %}
      {% for prepare in recipe.preparation%}
        <input type="text" name="preparation[]" value="{{prepare}}" placeholder="passo de preparo"/>
      {% endfor %}
    {% else %}
      <input type="text" name="preparation[]" placeholder="passo de preparo"/>
    {% endif %}
  </div>
  <button type="button" class="add-prepareMode add-button">Adicionar novo passo</button>
</div>

<div class="item">
  <div>Informações adicionais</div>
  <div>
    <textarea name="information" rows="12">{{recipe.information}}</textarea>
  </div>
</div>

<script src="/create-edit-scripts.js"></script>