{% extends "admin/adminLayout.njk"%}

{% block head %}
  <title>Foodfy -Admin Receitas</title>
{% endblock %}

{% block content %}

  <main>
    <h1 class="main-title">
      Gerenciar Receitas
    </h1>
    <section class="admin-cards">

      {% for recipe in recipes %}
        <div class="admin-card">
          <div class="card__imaage-container admin-card__image-container">
            <img id="admin-card-image" src="{{recipe.image_url}}" alt="Plate image"/>
          </div>
          <div class="card__content admin-card__content">
            <h1 id="food-plate">{{recipe.title}}</h1>
            <h2 id="chef">
              por
              {{recipe.chef_name}}
            </h2>
            <a href="/admin/recipes/{{recipe.id}}">Visualizar</a>
          </div>
        </div>
      {% endfor %}

    </section>
  </main>

{% endblock %}