{% extends "layout.njk" %}

{% block content %}
  <div class="card">
    <section class="avatar" style="background: url({{teacher.avatar_url}}) no-repeat center center / cover"></section>
    <section class="details">
      <h3>Detalhes</h3>

      <div class="item">
        <div>Instrutor</div>
        <div>{{teacher.name}}</div>
      </div>

      <div class="item">
        <div>Idade</div>
        <div>{{teacher.age}}</div>
      </div>

      <div class="item">
        <div>Escolaridade</div>
        <div>{{teacher.graduation}}</div>
      </div>

      <div class="item">
        <div>Tipo de aula</div>
        <div>{{"À Distancia" if teacher.classType == "D" else "Presencial"}}</div>
      </div>

      <div class="item">
        <div>Acompanhamento</div>
        <div>
          {% for service in teacher.services %}
            <span>{{service}}</span>
          {% endfor %}
        </div>
      </div>

      <div class="item">
        <div>Desde</div>
        <div>{{teacher.created_at}}</div>
      </div>

      <a class="button" href="#">Editar</a>
    </section>
  </div>
{% endblock content %}