<footer>
  <div>
    <h1>Residencial Acalanto</h1>
    <h1>R. Guilherme Gemballa, 260 - Sala 3</h1>
    <h1>Jardim América, Rio do Sul - SC, 89160-188</h1>
    <h2>Direitos autorais (Rocketseat © 2021 - Todos os direitos reservados).</h2>
  </div>
</footer>