{% extends "layout.njk" %}
{% block head %}
  <title>Conteúdos - Desafio 3-3</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>{% endblock%}
  {% block content %}
    <div id="wrapper">
      <h1>Conteúdos</h1>
    </div>

    <section class="cards">
      {%for item in items%}
        <div class="card" id="{{item.id}}">
          <div class="card__imaage-container">
            <img src="{{item.image_url}}" alt="{{item.image_url}} image"/>
          </div>
          <div class="card__content">
            <p>{{item.titile}}</p>
          </div>
          <div class="card__info">
            <p>{{item.modules}}</p>
            <p class="card__price">{{item.price}}</p>
          </div>
        </div>
        {%endfor%}
      </section>

      <script src="scripts.js"></script>
    {% endblock %}