{% extends "layout.njk" %}
{% block head %}
  <title>Curso -
    {{item.title}}</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
{% endblock %}
{% block content %}
  <div id="wrapper" class="course">
    <h1>{{item.title}}</h1>
  </div>

  <section class="card-course">
    <div class="card" id="{{item.id}}">
      <div class="card__course-container">
        <img src="{{item.image_url}}" alt="{{item.image_url}} image"/>
      </div>
      <div class="card__content">
        <p>{{item.description}}</p>
      </div>
      <div class="card__info">
        <p>{{item.modules}}</p>
        <p class="card__price">{{item.price}}</p>
      </div>
    </div>
  </section>

{% endblock %}