{% extends "layout.njk"%}

{% block head %}
  <title>Foodfy - Receitas</title>
{% endblock %}

{% block content %}

  <main>
    <section class="cards">
      <div class="card">
        <div class="card__imaage-container">
          <img id="card-image" src="assets/burger.png" alt="burguer"/>
        </div>
        <div class="card__content">
          <h1 id="food-plate">Triplo bacon burger</h1>
          <h2 id="chef">por Jorge Relato</h2>
        </div>
      </div>

      <div class="card">
        <div class="card__imaage-container">
          <img id="card-image" src="assets/pizza.png" alt="pizza"/>
        </div>
        <div class="card__content">
          <h1 id="food-plate">Pizza 4 estações</h1>
          <h2 id="chef">por Fabiana Melo</h2>
        </div>
      </div>

      <div class="card">
        <div class="card__imaage-container">
          <img id="card-image" src="assets/espaguete.png" alt="espaguete"/>
        </div>
        <div class="card__content">
          <h1 id="food-plate">Espaguete de alho</h1>
          <h2 id="chef">por Júlia Kinoto</h2>
        </div>
      </div>

      <div class="card">
        <div class="card__imaage-container">
          <img id="card-image" src="assets/lasanha.png" alt="lasanha"/>
        </div>
        <div class="card__content">
          <h1 id="food-plate">Lasanha mac n' cheese</h1>
          <h2 id="chef">por Juliano Vieira</h2>
        </div>
      </div>

      <div class="card">
        <div class="card__imaage-container">
          <img id="card-image" src="assets/doce.png" alt="doce"/>
        </div>
        <div class="card__content">
          <h1 id="food-plate">Docinhos pão-do-céu</h1>
          <h2 id="chef">por Ricardo Golvea</h2>
        </div>
      </div>

      <div class="card">
        <div class="card__imaage-container">
          <img id="card-image" src="assets/asinhas.png" alt="asinhas"/>
        </div>
        <div class="card__content">
          <h1 id="food-plate">Asinhas de frango ao barbecue</h1>
          <h2 id="chef">por Vania Steroski</h2>
        </div>
      </div>

      <div class="card">
        <div class="card__imaage-container">
          <img id="card-image" src="assets/burger.png" alt="burguer"/>
        </div>
        <div class="card__content">
          <h1 id="food-plate">Triplo bacon burger</h1>
          <h2 id="chef">por Jorge Relato</h2>
        </div>
      </div>

      <div class="card">
        <div class="card__imaage-container">
          <img id="card-image" src="assets/pizza.png" alt="pizza"/>
        </div>
        <div class="card__content">
          <h1 id="food-plate">Pizza 4 estações</h1>
          <h2 id="chef">por Fabiana Melo</h2>
        </div>
      </div>

      <div class="card">
        <div class="card__imaage-container">
          <img id="card-image" src="assets/espaguete.png" alt="espaguete"/>
        </div>
        <div class="card__content">
          <h1 id="food-plate">Espaguete de alho</h1>
          <h2 id="chef">por Júlia Kinoto</h2>
        </div>
      </div>

      <div class="card">
        <div class="card__imaage-container">
          <img id="card-image" src="assets/lasanha.png" alt="lasanha"/>
        </div>
        <div class="card__content">
          <h1 id="food-plate">Lasanha mac n' cheese</h1>
          <h2 id="chef">por Juliano Vieira</h2>
        </div>
      </div>

      <div class="card">
        <div class="card__imaage-container">
          <img id="card-image" src="assets/doce.png" alt="doce"/>
        </div>
        <div class="card__content">
          <h1 id="food-plate">Docinhos pão-do-céu</h1>
          <h2 id="chef">por Ricardo Golvea</h2>
        </div>
      </div>

      <div class="card">
        <div class="card__imaage-container">
          <img id="card-image" src="assets/asinhas.png" alt="asinhas"/>
        </div>
        <div class="card__content">
          <h1 id="food-plate">Asinhas de frango ao barbecue</h1>
          <h2 id="chef">por Vania Steroski</h2>
        </div>
      </div>
    </section>
  </main>

  <div class="modal-overlay">
    <div class="modal">
      <img src="assets/burger.png" alt="teste"/>
      <h1>teste title</h1>
      <h2>teste chef</h2>
      <a class="close-modal">
        Fechar modal
      </a>
    </div>
  </div>

  <script src="scripts.js"></script>

{% endblock %}