{% extends "admin/adminLayout.njk"%}

{% block head %}
  <title>Foodfy -Admin Chef Detail</title>
{% endblock %}

{% block content %}

  <main>
    <div class="header-detail-admin">
      <h1>Chef:
        {{chef.name}}</h1>
      <a class="button" href="/admin/chefs/{{chef.id}}/edit">Editar Chef</a>
    </div>
    <div class="detail-img-container">
      <img class="admin-chef-avatar" src="{{chef.avatar_url}}" alt="chef avatar">
    </div>
    <div class="details-contents-container">
      <h1>{{chef.name}}</h1>
      <h2>{{chef.total_recipes}}
        receita(s)</h2>
    </div>

    {% if recipes.length > 0 %}
      <div>
        <h1 class="main-title">
          Receitas
        </h1>
        <section class="admin-cards">

          {% for recipe in recipes %}
            <div class="admin-card">
              <div class="card__imaage-container admin-card__image-container">
                <img id="admin-card-image" src="{{recipe.image_url}}" alt="Plate image"/>
              </div>
              <div class="card__content admin-card__content">
                <h1 id="food-plate">{{recipe.title}}</h1>
                <h2 id="chef">
                  por
                  {{chef.name}}
                </h2>
                <a href="/admin/recipes/{{recipe.id}}">Visualizar</a>
              </div>
            </div>
          {% endfor %}

        </section>
      </div>
    {% endif %}

  </main>

{% endblock %}