{% extends "layout.njk" %}

{% block content %}
  <div id="not-found">
    <img src="https://lh3.googleusercontent.com/proxy/JnHDIzsOSIVIIkWJkYKeev7QCCFcGnhJfQeta3qbJnZbJVSWAgGmIGV3yPvuHLIgoAQQQyniIxxj9EV0h5Hl8Rje7of5gIAPCyRrFg" alt="Rocketseat"/>
    <h1>404</h1>
    <h2>
      Desculpe... Página não encontrada!
    </h2>

  </div>
{% endblock %}