{% extends "layout.njk"%}

{% block head %}
  <title>Foodfy - Chefs</title>
{% endblock %}

{% block content %}

  <main>
    <section class="cards">

      {% for chef in chefs %}
        <div class="admin-card">
          <div class="card__imaage-container admin-card__image-container">
            <img class="chef-avatar" id="admin-card-image" src="{{chef.avatar_url}}" alt="Plate image"/>
          </div>
          <div class="card__content admin-card__content">
            <h1 id="chef">{{chef.name}}</h1>
            <h2 id="total-recipes">{{chef.total_recipes}}
              receita{{ 's' if chef.total_recipes > 1 }}
            </h2>
          </div>
        </div>
      {% endfor %}

    </section>
  </main>

{% endblock %}